@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../public/fonts/Montserrat-VariableFont_wght.woff2") format("woff2"),
    url("../public/fonts/Montserrat-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../public/fonts/Montserrat-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("../public/fonts/Montserrat-Italic-VariableFont_wght.woff")
      format("woff");
}

:root {
  --font-display: "Montserrat", sans-serif;
}

.font-display {
  font-family: var(--font-display);
}
